/* font relawey (para os conteﾃｺdos de textos dos parﾃ｡grafos)  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* estilo do menu lateral (feito pelo audi) */


:root {
    --CormenuLateral: #EFF7F0;
    --CorPreto: black;
    --CorBranca: white;
    --CorVerdeClaro: #44833D;
    --CorCinzaEscuro: #b0b0b1;
    --CorCinzaMaisClaro: #ccc;
    --CorLaranjaClaroParaFonteDosaccordion: #664d03;
    /* cores do estado */

    
    /* modo escuro */
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #29292B;
    --color-dark-900: #231F20;
    --color-green: #44833D;
    --color-ciano: #2db39e;
    --color-ciano2: rgb(14, 149, 129);

    /* modo escuro - accordion*/
    --RoxoEscuroImportante: #6022AF;
    --RoxoClaroImportante: #E7D7F5;

    --VermelhoEscuroFiqueAtento: #570000;
    --VermelhoClaroFiqueAtento: #FAD3D3;

    --VerdeEscuroReflita: #123901;
    --VerdeClaroReflita: #C2D4BB;

    --RosaEscuroExemplo: #96005C;
    --RosaClaroExemplo: #FFCCEB;

    --AzulEscuroSaibaMais: #022492;
    --AzulClaroSaibaMais: #C6CAFF;


    /* cor dos accordions */
    --CorAccordionImportante: #f18519;
    --CorAccordionImportanteMaisClaro: #ff7f0033;


    /* cor dos accordions */
    --CorAccordionImportante: #f18519;
    --CorAccordionImportanteMaisClaro: #ff7f0033;
    /* fontes */
    --FonteArial: Arial, Helvetica, sans-serif;
    --FonteRaleway: 'Raleway', sans-serif;
    --FonteVerdana: Verdana, Geneva, Tahoma, sans-serif;
    /*  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.1s;
}

body {
    margin: 0;
    background-color: var(--white);
}


/* img logo da egp */
#logo {
    width: 60px;
    height: auto;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.menulateral:hover #logo {
    width: 160px;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
}

/* fim do estilo da img */

.menulateral {
    width: 80px;
    height: 100%;
    background-color: #EFF7F0;
    padding: 40px 0 40px 1%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    transition: 0.1s;
    z-index: 2;
}

/* aqui eu defini algumas propriedades que "ajudam" o header a ficar animado --jayron-- */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
}

/* atﾃｩ aqui \o/ --jayron-- */

ul {
    /* height: 100%; */
    list-style: none;

}

[data-theme="dark"] ul li.menu a {
    color: var(--color-light-50);
}

ul li.menu a {
    color: #44833D;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;

}

ul li.menu a .txt {
    margin-left: 35px;
}

ul li.menu a .icon>i {
    font-size: 25px;
    margin-left: -20px;
}


ul li.menu {
    transition: 0.5s;

}

.menulateral:hover {
    width: 250px;
}

[data-theme="dark"] ul li.menu a:hover {
    color: rgb(192, 185, 185);
}

ul li.menu a:hover {
    color: #040504;
}


/* fim do estilo do menu lateral */


/* estilos gerais */


.nonedec {
    text-decoration: none;
    color: #b0b0b1;
    margin-left: 10px;
}


.nav {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);

}

.btn {
    transition: 0.5s;

}

/* estilo do container de apresentaﾃｧﾃ｣o */

h2 {
    margin-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #44833D;
    font-weight: bolder;
}


/* estilo do conteudo da primeira pagina */

hr {
    margin-left: 5px;
}

.main-content {
    padding: 100px 50px 50px;
}

.main-content p {
    font-size: 20px;
    font-family: var(--FonteRaleway);
    margin-left: 5px;
}

.main-content .FonteMenor {
    font-size: 0.9rem;
    font-family: var(--FonteArial);
    margin-top: 0.2rem;
}

.main-content>#FonteFigura p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: -100px;
}

/* estilo do accordion */

.container {
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
}

.accordion {
    width: 1000px;
    /*define o tamanho do acordeon*/
    margin: 40px 10px 0px 10px;
    /*coloquei o top sﾃｳ para tirar lﾃ｡ de cima e nas laterais para no reponsivo nﾃ｣o grudar na tela*/
}

.accordion #content a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    /*linha de baixo da caixa principal*/
    font-size: 1.4em;
    padding-left: 1rem;
    border-radius: 7px 7px 0px 0px;
}

.div_teste {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* CORES DOS DIFERENTES DOS ACCORDIONS */


/* CAIXA IMPORTANTE */
.accordion #content a#tituloimportante {
    background-color: #f18519;
    /*cor da caixa principal importante*/
    color: #664d03;
    /*cor da palavra na caixa principal*/
}

[data-theme="dark"] .accordion #content a#tituloimportante {
    background-color: var(--RoxoEscuroImportante);
    color: var(--color-light-50);
}

[data-theme="dark"] #importante {
    background-color: var(--RoxoClaroImportante);
    color: black;
}

[data-theme="dark"] #importante p {
    color: #040504;
}

#importante {
    background-color: #edb00929;
}

/* CAIXA FIQUE ATENTO */
.accordion #content a#titulofiqueatento {
    background-color: #edb009;
    /*cor da caixa principal fique atento*/
    color: #664d03;
}

[data-theme="dark"]  .accordion #content a#titulofiqueatento {
    background-color: var(--VermelhoEscuroFiqueAtento);
    color: var(--color-light-50);
}

[data-theme="dark"]  #fiqueatento {
    background-color: var(--VermelhoClaroFiqueAtento);
    /*cor da caixa secundaria fique atento */
}

[data-theme="dark"]  #fiqueatento p {
    color: #040504;
}

#fiqueatento {
    background-color: #edb00929;
}

/* CAIXA REFLITA */
[data-theme="dark"]  .accordion #content a#tituloreflita {
    background-color: var(--VerdeEscuroReflita);
    color: var(--color-light-50);
}

.accordion #content a#tituloreflita {
    background-color: #3be3e2;
    /*cor da caixa principal reflita*/
    color: #0a4c5e;
}

[data-theme="dark"]  #reflita {
    background-color: var(--VerdeClaroReflita);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #reflita p {
    color: #040504;
}

#reflita {
    background-color: #3be3e229;
}

/* CAIXA EXEMPLO */
[data-theme="dark"] .accordion #content a#tituloexemplo {
    background-color: var(--RosaEscuroExemplo);
    color: var(--color-light-50);
}

.accordion #content a#tituloexemplo {
    background-color: #49d199;
    /*cor da caixa principal reflita*/
    color: #005432;
}

.accordion-content,
#exemplo {
    background-color: #49d19929;
    /*cor da caixa secundaria importante */
}

[data-theme="dark"]  #exemplo {
    background-color: var(--RosaClaroExemplo);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #exemplo p {
    color: #040504;
}


/* CAIXA SAIBA MAIS */
[data-theme="dark"] .accordion #content a#tituloSaibaMais {
    background-color: var(--AzulEscuroSaibaMais);
    color: var(--color-light-50);
}

.accordion #content a#tituloSaibaMais {
    background-color: #3be3e2;
    /*cor da caixa principal reflita*/
    color: #0a4c5e;
}

[data-theme="dark"] #saibamais {
    background-color: var(--AzulClaroSaibaMais);
}

#saibamais {
    background-color: #d8f6fa;
    /*cor da caixa secundaria importante */
}

.accordion #content a#tituloexemplo {
    background-color: #49d199;
    /*cor da caixa principal reflita*/
    color: #005432;
}

[data-theme="dark"] #saibamais {
    background-color: var(--AzulClaroSaibaMais);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #saibamais  p {
    color: #040504;
}



/* estilo do pointer dos accordion */

.accordion-content {



    /* Separei os paddings laterais para nﾃ｣o gerar estranheza nas transiﾃｧﾃｵes */
    padding-left: 20px;
    padding-right: 20px;


    background-color: #ff7f0033;
    border: none;
    /*linha de baixo da caixa principal*/
    margin-bottom: 0;
    border-radius: 0px 0px 7px 7px;

    /* Para esse tipo de transiﾃｧﾃ｣o suave, ﾃｩ melhor usar height do que display,
  porﾃｩm nﾃ｣o sei pq diabos o height nﾃ｣o funcionou direito com o atributo visibility
  entﾃ｣o usei max-height e deu basicamente num resultado melhor*/
    /*max-height: 0;*/
    /* Defini que atributos deveriam ser alterados mais suavemente 
  (note que especifiquei os paddings verticais, novamente para nﾃ｣o chegar um efeito estranho) */
    transition: height 0.5s, max-height 0.5s, padding-bottom 0.5s, padding-top 0.5s;

}

.accordion-content>p {
    font-size: 10px;
}

.accordion-content * {
    /* isso aqui foi importante colocar pq, como nﾃ｣o estou display,
o estado inicial de height 0 manteria o texto aparecendo */
    visibility: hidden;
    /* transiﾃｧﾃ｣o aqui para o texto nﾃ｣o sumir/aparecer antes da caixa diminuir/aumentar*/
    transition: 0.1s;
}

.accordion #content a:hover~.accordion-content {

    /* 
  novamente: nﾃ｣o tenho ideia pq nﾃ｣o funcionou direito com o
  height, mas normalmente vocﾃｪ colocaria height 0 ao invﾃｩs de max-height 0
  e height auto aqui, no lugar de max-height 1000
  ､ｨ､ｨ､ｨ

  nﾃ｣o precisa necessariamente ser 1000, qualquer nﾃｺmero quando o suficiente para
  nﾃ｣o limitar o tamanho que vocﾃｪ quer jﾃ｡ estﾃ｡ otimo
  */
    max-height: 1000px;

    /* esse padding aqui poderia ser substituido por padding-bottom 20 e padding-top 20, porem assim fica com menos uma linha*/
    padding: 20px;

}

.accordion #content a:hover~.accordion-content * {
    visibility: visible;
    font-size: 20px;
}

@media (max-width: 800px) {
    .accordion-content * {
        visibility: visible;

    }

    .accordion-content>p {
        font-size: 20px;
    }
}


/* estilo da tabela */
.table {
    font-weight: lighter;
    font-size: 1.2rem;
}

/* estilo da pagina do primeiro modulo */
.bd-callout {
    border: 1px solid #cccccc9a;
    border-left: 5px solid #44833D;
    border-radius: 7px;
    padding: 1.5rem;
}

#progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10px;
    background: linear-gradient(90deg, rgba(43, 92, 16, 1) 0%, rgba(87, 181, 36, 1) 100%);
    ;
    transition: width 0.5s ease-out;
    z-index: 5;
}

footer {
    margin-bottom: 15px;
}

.text-center .text {
    color: #b0b0b1;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------menu lateral responsivo --jayron-- ------------------------- */
@media (min-width: 601px) {
    .offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
        visibility: hidden;
        display: none;
    }
}
@media (max-width: 600px) {
    .menulateral {
        display: none;
        color: rgb(39, 79, 35);
    }

    .nav-link{
        display: none;
    }


    #img_logo {
        width: 150px;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}

/*BOTﾃグ DO MODO ESCURO (JAMILLE)*/
#btn_tema {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--color-ciano);
    color: var(--color-light-50);
    border-radius: 8px;
    width: 135px;
    height: 34px;
    cursor: pointer;
    box-shadow: 0px 4px 0px var(--color-ciano2);
    transition: all 75ms ease-in-out;
    margin-top: -3px;
}

#btn_tema:active {
    transform: translateY(0.6px);
    box-shadow: 0px 0px 0px var(--color-ciano2);
}

/*CONFIGURAﾃﾃグ DE ALGUNS ELEMENTOS NO MODO ESCURO (JAMILLE)*/

[data-theme="dark"] #btn_menu .fa-solid{
    color: var(--color-light-50);
}

#btn_menu .fa-solid{
    color: #274f23;
}

[data-theme="dark"] {
    --white: #29292B;
    --black: #fff;
}

[data-theme="dark"] #txt_final{
    color: var(--color-light-50);
}

#txt_final{
    color: black;
}

[data-theme="dark"] .offcanvas-body {
    background-color: var(--color-dark-900);
}


[data-theme="dark"] .offcanvas-header {
    background-color: var(--color-dark-900);
}

[data-theme="dark"] .menulateral {
    background-color: var(--color-dark-900);
}

[data-theme="dark"] #navbar  {
    background-color: var(--color-dark-100);
}

[data-theme="dark"] p {
    color: var(--color-light-50);
}

[data-theme="dark"]
.none {
    color: var(--color-light-50);
}

[data-theme="dark"]  h2,
.Titulo {
    color: var(--color-light-50);
}

h2,
.Titulo {
    color: var(--color-green);
}

.none {
    color: #040504;
}

[data-theme="dark"] .none1 {
    color: var(--color-light-50);
}

.none1 {
    color: #040504;
}

[data-theme="dark"] #txt_referencias{
    color: var(--color-light-50);
}

/* MODAL MODO ESCURO (Audi)*/
[data-theme="dark"] .modal-content{
    background-color: rgb(51, 51, 51);
}
  
/* BOTﾃグ CLOSE MENU RESPONSIVO (Audi)*/
[data-theme="dark"] .btn-close{
    filter: invert(1) grayscale(100%) brightness(200%);
    
}

/*FIM DA CONFIGURAﾃﾃグ DO MODO ESCURO (JAMILLE)*/

/* EFEITO DE ZOOM NA IMAGEM ADAPTADO (AUDI) */
.zoom{
    overflow: hidden;
    width: 500px;
    display: flex;
    align-content: center;
    position: relative;
    margin-left: auto;
      margin-right: auto; 
  }
  
  .zoom img{
    max-width: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  .zoom:hover img{
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  } 



  